<div class="container">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
		
		<h1><%= form_title  %></h1>


			<%= form_for @product do |f| %>
				<div class="form-group">
					<h4>Nombre</h4>
					<%= f.text_field :name, class: "form-control input-lg", placeholder: "Nombre del Producto" %>
				</div>

				<div class="form-group">
					<h4>Precio</h4>
					<%= f.number_field :price, :step => "0.1", class: 'form-control input-lg' %>
				</div>
		
				<div class="field">	
				  <%= f.collection_check_boxes :categories, Category.all, :id, :name do |b| %>
				    <div class="collection-check-box">
				      <%= b.check_box %>
				      <%= b.label %>
				    </div>
				  <% end %>
				</div>

	
				<div>
					<%= f.submit form_title, class: "btn btn-success btn-lg btn-block" %>
				</div>
			<% end %>
		</div>
	</div>
</div>